<div class="scenario1 slideIn" id="slide5">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Solution Definition</h1>
                <h2 class="subtitle">Define the high level technical specifications</h2>
            </header>
            <div class="row-fluid">
                <div class="span6">
					<h3>Key Activities</h3><br>
					<ul>
                      	<li><span>Define the high level technical specifications for implementing the user experience</span></li>
						<li><span>Define high level Portal Connections integration  approaches</span></li>
                      	<li><span>Define the technical specifications for providing Polling/Survey capabilities</span></li>
						<li><span>Define the high level web content management  approaches</span></li>
						<li><span>Define the high level specification for personalization in Portal with Siebel</span></li> 
                 	</ul>
                </div>
                <div class="span6">
					<h3>Deliverables</h3><br>
					<ul>
                      <li><span>Solution Design</span></li>
                  	</ul>
                </div>
            </div>

        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <img src="images/approach-10.png" class="phone" style="margin-top: 70px"/>
						</a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>