<div class="slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Our Project Approach</h1>
                <h2 class="subtitle">Our project approach is designed to enable Canon to rapidly build consensus on requirements, design, and execution plans for the BISG Community initiative.</h2>
            <div class="row-fluid">
				<ul>
			        <li><span>In order to meet the objectives of this engagement, Hitachi Consulting will execute an overlapping set of activities designed to enable to rapid and iterative design of the Product Printing community portal.</span></li>
			        <li><span>These activities are aligned to our User Experience Methodology and also include the technical design and planning activities that will enable Canon to rapidly and independently execute the development and deployment activities.</span></li>
				</ul>
            </div>
            </header>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/approach-02.png" class="slideIn" style="margin-top: 70px"/></a>
                </div>
            </div>
        </div>
    </div>
</div>