<div class="scenario1 slideIn" id="slide4">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Modeling &amp; Design</h1>
                <h2 class="subtitle">Rapidly and iteratively design the interaction and visual components of the solution.</h2>
            </header>
            <div class="row-fluid">
                <div class="span6">
					<h3>Key Activities</h3><br>
					<ul>
                      	<li><span>Create annotated wireframes that depict the layouts and key interactions and capabilities on the main screens of the solution</span></li>
						<li><span>Develop 2-3 creative comps based on the wireframes to demonstrate the visual design.</span></li>
                 	</ul>
                </div>
                <div class="span6">
					<h3>Deliverables</h3><br>
					<ul>
                      <li><span>Annotated Wireframes</span></li>
                      <li><span>Creative Comps</span></li>
                  	</ul>
                </div>
            </div>

        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/approach-07.png" class="fresco" data-fresco-group="approach">
	                    	<img src="images/approach-06.png" class="phone" style="margin-top: 70px"/>
						</a>
            <div id="details">
                     <a href="images/approach-07.png" class="fresco" data-fresco-group="approach"><img src="images/zoom.png">View more details</a>
                    </div>

						<a href="images/approach-08.png" class="fresco" data-fresco-group="approach">
						</a>
						<a href="images/approach-09.png" class="fresco" data-fresco-group="approach">
						</a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>