<div class="scenario1 slideIn" id="slide4">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Modeling &amp; Design</h1>
                <h2 class="subtitle">Rapidly and iteratively design the interaction and visual components of the solution.</h2>
            </header>
            <div class="row-fluid">
                <div class="span6">
					<p>Key Activities</p>
					<ul>
                      	<li><span>Create annotated wireframes that depict the layouts and key interactions and capabilities on the main screens of the solution</span></li>
						<li><span>Develop 2-3 creative comps based on the wireframes to demonstrate the visual design.</span></li>
                 	</ul>
                </div>
                <div class="span6">
					<p>Deliverables</p>
					<ul>
                      <li><span>Annotated Wireframes</span></li>
                      <li><span>Creative Comps</span></li>
                  	</ul>
                </div>
            </div>

        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/approach-06.png" class="fresco" data-fresco-caption="Creative Comps are the visual depiction of what the site will look like including a full graphical representation of common elements such as headers, footers, fonts, styles, and navigational elements, as well as specific depictions of key capabilities." data-fresco-group="approach">
	                    	<img src="images/approach-06.png" class="phone" />
						</a>
						<a href="images/approach-07.png" class="fresco" data-fresco-caption="Creative Comps are the visual depiction of what the site will look like including a full graphical representation of common elements such as headers, footers, fonts, styles, and navigational elements, as well as specific depictions of key capabilities." data-fresco-group="approach">
						</a>
						<a href="images/approach-08.png" class="fresco" data-fresco-caption="Annotated wireframes are detailed sketches that depict screen layout and provides a description of key functionality.  This deliverable becomes a part of the functional specifications handed over to the development team in the next phase." data-fresco-group="approach">
						</a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>