
<div class="scenario1 slideIn" id="slide3">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Strategy &amp; Research</h1>
                <h2 class="subtitle">Understand the business, technical, and user requirements for the solution.</h2>
            </header>
            <div class="row-fluid">
                <div class="span6">
					<p>Key Activities</p>
					<ul>
                      	<li><span>Review existing documentation on target customer segments</span></li>
						<li><span>Work with key business stakeholders to understand requirements</span></li>
                      	<li><span>Document and prioritize requirements</span></li>
						<li><span>Understand overall brand direction and vision to influence overall design strategy</span></li>
                      	<li><span>Create the high level personas that describe the key user segments for the solution</span></li>
                  	</ul>
                </div>
                <div class="span6">
					<p>Deliverables</p>
                    <ul>
                      <li><span>Prioritized Business Requirements</span></li>
                      <li><span>User Personas</span></li>
                  	</ul>
                </div>
            </div>

        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/approach-04.png" class="fresco" data-fresco-caption="The Prioritized Business Requirements deliverable will contain a set of key capabilities, requirements, and user needs/desires, for the end-state solution, ultimately prioritized based on business value and level of effort." data-fresco-group="approach">
	                    	<img src="images/approach-03.png" class="phone" />
						</a>
						<a href="images/approach-05.png" class="fresco" data-fresco-caption="Personas are designed to identify the objectives, work patters, behaviors, requirements, needs., and wants for each of the key user segments for the solution." data-fresco-group="approach" style="display: block;"></a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>