
<div class="scenario1 slideIn" id="slide3">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Strategy &amp; Research</h1>
                <h2 class="subtitle">Understand the business, technical, and user requirements for the solution.</h2>
            </header>
            <div class="row-fluid">
                <div class="span6">
					<h3>Key Activities</h3><br>
					<ul>
                      	<li><span>Review existing documentation on target customer segments</span></li>
						<li><span>Work with key business stakeholders to understand requirements</span></li>
                      	<li><span>Document and prioritize requirements</span></li>
						<li><span>Understand overall brand direction and vision to influence overall design strategy</span></li>
                      	<li><span>Create the high level personas that describe the key user segments for the solution</span></li>
                  	</ul>
                </div>
                <div class="span6">
					<h3>Deliverables</h3><br>
                    <ul>
                      <li><span>Prioritized Business Requirements</span></li>
                      <li><span>User Personas</span></li>
                  	</ul>
                </div>
            </div>

        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/approach-04.png" class="fresco" data-fresco-group="approach">
	                    	<img src="images/approach-03.png" class="phone" style="margin-top: 70px" /></a>

                    <div id="details" style="margin-right:100px">
                     <a href="images/approach-04.png" class="fresco" data-fresco-group="approach"><img src="images/zoom.png">View more details</a>
                    </div>

						<a href="images/approach-05.png" class="fresco" data-fresco-group="approach" style="display: block;"></a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>