<div class="slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>UX Design Methodology</h1>
                <h2 class="subtitle">User experience is the quality of experience an individual has when interacting with a particular design, process or system. </h2>
            <div class="row-fluid">
				<ul>
				        <li><span>Research &amp; Strategy: Observational methods are used to identify and understand both the users’ and organization’s goals/tasks, pain points, and business requirements.</span></li>
				        <li><span>Modeling: Results of the Strategy and Research efforts are reviewed for common patterns that can be represented through a variety of formats including Personas and Scenarios.</span></li>
				        <li><span>Concept &amp; Design: The requirements and models are analyzed to quickly and iteratively create wireframes and low fidelity prototypes to demonstrate requirements and interaction flows.</span></li>
				        <li><span>Evaluation: User-based assessments are formally carried out assessing whether components of the process, product or system meet end user requirements.</span></li>
				</ul>
            </div>
            </header>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/approach-01.png" class="slideIn"/></a>
                </div>
            </div>
        </div>
    </div>
</div>