<div class="scenario1 slideIn" id="slide6">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Execution Planning</h1>
                <h2 class="subtitle">Defining the actionable execution plan for the development and deployment phases of the project.</h2>
            </header>
            <div class="row-fluid">
                <div class="span6">
					<p>Key Activities</p>
					<ul>
                      	<li><span>Develop the overall release plan for the end solution with specific capabilities and functionality being addressed in each individual release</span></li>
						<li><span>Create an initial product backlog of requirements to be addressed as a part of the Phase 2 effort</span></li>
                      	<li><span>Define the sprint plan for the Phase 2 effort</span></li>
						<li><span>Define the content strategy and creation plan for Phase 2</span></li>
                  	</ul>
                </div>
                <div class="span6">
					<p>Deliverables</p>
					<ul>
                      <li><span>Release Plan</span></li>
                      <li><span>Sprint Plan</span></li>
                      <li><span>Content Creation/ Publication Schedule</span></li>
                  	</ul>
                </div>
            </div>

        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/approach-10.png" class="fresco" data-fresco-caption="The Sprint Plan is a high level view of what will be included within each sprint required to support a specific release and contains supporting documentation such as an initial product backlog." data-fresco-group="approach">
	                    	<img src="images/approach-10.png" class="phone" />
						</a>
						<a href="images/approach-11.png" class="fresco" data-fresco-caption="The release schedule describes the cadence of releases and contains supporting detail for specific capabilities and requirements to be included in each release." data-fresco-group="approach" style="display: block;"></a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>