<div class="scenario1 slideIn" id="slide5">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Solution Definition</h1>
                <h2 class="subtitle">Define the high level technical specifications</h2>
            </header>
            <div class="row-fluid">
                <div class="span6">
					<p>Key Activities</p>
					<ul>
                      	<li><span>Define the high level technical specifications for implementing the user experience</span></li>
						<li><span>Define high level Portal Connections integration  approaches</span></li>
                      	<li><span>Define the technical specifications for providing Polling/Survey capabilities</span></li>
						<li><span>Define the high level web content management  approaches</span></li>
						<li><span>Define the high level specification for personalization in Portal with Siebel</span></li> 
                 	</ul>
                </div>
                <div class="span6">
					<p>Deliverables</p>
					<ul>
                      <li><span>Solution Design</span></li>
                  	</ul>
                </div>
            </div>

        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/approach-09.png" class="fresco" data-fresco-caption="Solution Definition consists of developing high level technical specifications for the key components of the solution." data-fresco-group="approach">
	                    	<img src="images/approach-09.png" class="phone" />
						</a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>