
<div class="slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Canon BISG: UX and Technical Design</h1>
                <h2 class="subtitle">Hitachi Consulting is pleased to present our proposal for assisting Canon with UX and Technical Design for Phase 2 of the Production Printing Community portal.</h2>
                <h3 style="margin-bottom:5px;">Proposal Contents</h3>
            <p>Objective: uncover the future of business intelligence and its impact on the enterprise</p>
            <div class="row-fluid">
				<p>This proposal contains for the following information:</p>
				<ul>
					<li><span>Research – Supporting research that includes best practices for community interaction design and competitive analysis</span></li>
					<li><span>Overview – Brief overview of Hitachi Consulting</span></li>
					<li><span>Understanding – Our understanding of your needs for this initiative</span></li>
					<li><span>Approach – A description of our methodology, approach, activities, and deliverables for this engagement</span></li>
					<li><span>Examples – Initial creative comps to present a potential vision for the Production Printing proposal as well as case studies from similar projects</span></li>
					<li><span>Proposal – A breakdown of proposed timeline, staffing, and fees for this engagement</span></li>
					<li><span>Conclusion – Summary and contact information </span></li>
				</ul>
            </div>
            </header>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/intro.png" class="slideIn" style="margin-top:70px"/></a>
                </div>
            </div>
        </div>
    </div>
</div>