<ul>
  <li><span><strong>Intelligent Use of  Panning</strong> – Instead of packing everything onto one screen, the portal uses analytics to predict the most important content for the user. Additional content is easily accessible with gestures that pan the screen up, down, left and right.</span></li>
  <li><span><strong>Scalable Elements</strong>&nbsp;-&nbsp;With page elements scalable, content displays  along a range of sizes. Elements display variable amounts of information  depending on what screen size is available. For example, a report may only show  the primary data point on a mobile device while an accompanying chart may  appear when the report viewed on the desktop.</span></li>
  <li><span><strong>Large Interaction  Areas</strong>&nbsp;- To accommodate varying device  sizes, buttons are large with generous hit zones. Compact interaction areas are  broken out into larger menus hidden behind easy to understand icons.</span></li>
</ul>
