<div class="scenario1 slidein" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Our Understanding</h1>
                <h2 class="subtitle">Jane sits down to intuitively interact with live and stored data to quickly create a canvas of visual data.</h2>
                <h3 style="margin-bottom:5px;">Visioning and Creative Design for NextGen BI</h3>
            <p>Objective: uncover the future of business intelligence and its impact on the enterprise</p>
            <div class="row-fluid">
                <h3 style="margin-bottom:5px;">The Approach</h3>
                <p>Detailed research on next generation user experience, visual design, and interface vision</p>
                <p>Coalesced key findings for feature visioning, eliminating constraints</p>
                <p>Conceptualized a future Telecom One BI portal through the exploration of a hypothetical business story</p>
            </div>
            </header>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                    <a href="images/Scenario_One.png" class="fresco" data-fresco-caption="Intuitive Data Analysis: Interacting with live/stored content to create a visual canvas of data" data-fresco-group="scenario-one"><img src="images/Jane_Scenario_One.png" class="slideIn"/></a>
                    <a href="images/Scenario_One_Training.png" class="fresco" data-fresco-caption="Intuitive Training Mode: Easy customization and learning method for personal dashboards" data-fresco-group="scenario-one"></a>
                </div>
            </div>
        </div>
    </div>
</div>