<div class="scenario2 slideIn">
	<div class="row-fluid">
    	<div class="span6">
        	<header>
                <h1>Point of View</h1>
                <h2 class="subtitle">Jane and Sharmeen build a multi-layered widget through gestures/voice dictation on an Interactive Whiteboard.</h2>
            </header>
             <div class="sub-section">
                <section class="sub-page">
            	</section>
             </div>
        </div>
        <div class="span6">
        	 <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                    <a href="images/scenario_two-large.png" class="fresco" data-fresco-caption="Interactive Whiteboarding: Utilize interactivity functions and responsive design, collaborate to build and share information "><img src="images/Jane_Sharmeen_Scenario_Two.png" class="slideIn"/></a>
                </div>
        	</div>
        </div>
    </div>
</div>