<div class="researchContainer-interaction slideIn">
    <header>
        <h1>Interaction Research</h1>
        <h2 class="subtitle">How will we interact with data? How will millennial influences affect data visualization?</h2>
    </header>
    <nav class="subnav">
        <ul>
            <li><a href="#research/interaction/research">Research</a></li>
            <li><a href="#research/interaction/gallery">Gallery</a></li>
        </ul>
    </nav>
    <div class="row-fluid">
        <section class="sub-page">
        </section>
    </div>
</div>