
<div class="main-menu-container masthead"></div>
<div class="clear"></div>

<div class="page" data-role="page" id="page">
</div>
<a href="#" class="btn-prev"></a>
<a href="#" class="btn-next"></a>
<div class="researchButtons">
    <a href="#research/users/research" class="icon sprite-hor research-users" data-toggle="tooltip" data-original-title="Users" title="Users">Users</a>
    <a href="#research/interaction/research" class="icon sprite-hor research-interaction" data-toggle="tooltip" data-original-title="Interaction" title="Interactions">Interactions</a>
    <a href="#research/data/research" class="icon sprite-hor research-data" data-toggle="tooltip" data-original-title="Competitors" title="Competitors">Competitors</a>
</div>
<div class="clear"></div>

<div class="footer "></div>
