<div class="slideIn" id="slide3">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>BISG Road Map</h1>
                <h2 class="subtitle">BISG has outlined an aggressive but reasonable road map for addressing the business requirements in a phased approach.</h2>
            <div class="row-fluid">
                <p>Phase 1: This initial deployment will be built in IBM Connections, primarily focused on core  social functionality.  This site will be publicly available but will only be promoted with a small number of internal users to gain feedback and begin building momentum for the larger deployment.</p>
                <p>Phase 2: This deployment will be a full solution leveraging both IBM Connections and WebSphere Portal solutions.  This broader deployment will provide a much richer set of functionality, more personalized marketing, and a richer user experience.</p>
            </div>
            </header>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/understanding-03.png" class="slideIn"/></a>
                </div>
            </div>
        </div>
    </div>
</div>