<div class="slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Driving Business Results</h1>
                <h2 class="subtitle">Canon’s Business Imaging Solutions Group (BISG) plans to build an interactive social community to improve the overall customer experience.</h2>
                <h3>BISG has the following strategic objectives for the Production Printing Community site.</h3>
			</header>
            <div class="row-fluid">
                <div class="span6">
                    <ul>
                      <li><span>Increase Brand Awareness</span></li>
                      <li><span>Educate Customers</span></li>
                      <li><span>Engage Directly with Customers</span></li>
                      <li><span>Provide Thought Leadership</span></li>
                  </ul>
                </div>
                <div class="span6">
                    <ul>
                      <li><span>Drive Loyalty</span></li>
                      <li><span>Obtain Customer Intelligence</span> </li>
                      <li><span>Improve Customer Support</span></li>
                      <li><span>Generate Incremental Revenue</span></li>
                  </ul>
                </div>
            </div>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
					<!--
						<img src="images/intro.png" class="slideIn"/></a>
					//-->
                </div>
            </div>
        </div>
    </div>
</div>