<div class="slideIn" id="slide2">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Required Capabilities</h1>
                <h2 class="subtitle">Canon BISG has identified a set of critical functionality for the Production Printing Community Portal.</h2>
			</header>
            <div class="row-fluid">
                <div class="span6">
					<h3>Phase 1 (Currently Underway)</h3><br>
					<ul>
                      	<li><span>Guest/SME Blogs</span></li>
						<li><span>Peer Forums by Printer Market </span></li>
                      	<li><span>Collateral downloads</span></li>
						<li><span>Customized News Feeds</span></li>
                      	<li><span>Webinar Invites/Recorded Content</span></li>
						<li><span>Polling </span></li>
                      	<li><span>Event Promotion</span></li>
						<li><span>Mobile</span></li>
                  	</ul>
                </div>
                <div class="span6">
					<h3>Phase 2 and Beyond</h3><br>
                    <ul>
                      <li><span>SSO</span></li>
                      <li><span>Contests</span></li>
                      <li><span>Videos/Vlogs</span></li>
                      <li><span>Personal Profile Page</span></li>
                      <li><span>Private Peer Groups</span></li>
                      <li><span>Targeted Campaigns/Integration with Siebel</span></li>
                      <li><span>Mentoring</span></li>
                      <li><span>Personalized Customer Experience</span></li>
                      <li><span>Event Registration/Live Feed from Show Floor</span></li>
                      <li><span>Role-based Content</span></li>
                      <li><span>Efficient CMS</span></li>
                  	</ul>
                </div>
            </div>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
					<!--
						<img src="images/intro.png" class="slideIn"/></a>
					//-->
                </div>
            </div>
        </div>
    </div>
</div>