<div class="slideIn" id="slide4">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Phase 2 Design Project</h1>
                <h2 class="subtitle">BISG and ITS are seeking a partner to assist with the visual and technical design of the Phase 2 Production Printing Community Portal.</h2>
                <h3 style="margin-bottom:5px;">Partnership Success Criteria</h3>
            <div class="row-fluid">
				<p>Canon is looking for a partner who can provide the following key expertise required for the success of this initiative:</p>
				<ul>
				        <li><span>Experience building successful community sites which heavily leverage social media capabilities</span></li>
				        <li><span>Innovative user experience and interface design capabilities</span></li>
				        <li><span>Technology depth in IBM Connections and WebShpere Portal</span></li>
				        <li><span>Expertise in defining both the initial content strategy and ongoing content management processes for sustaining a successful community </span></li>
				</ul>
            </div>
            </header>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/understanding-04.png" class="slideIn"/></a>
                </div>
            </div>
        </div>
    </div>
</div>