
<div class="scenario1 slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Our Understanding</h1>
                <h2 class="subtitle">Exploring future approaches can solve present-day business challenges.</h2>
                <h3 style="margin-bottom:5px;">Visioning and Creative Design for NextGen BI</h3>
            <p>Objective: uncover the future of business intelligence and its impact on the enterprise</p>
            <div class="row-fluid">
                <h3 style="margin-bottom:5px;">The Approach</h3>
                <p>Detailed research on next generation user experience, visual design, and interface vision</p>
                <p>Coalesced key findings for feature visioning, eliminating constraints</p>
                <p>Conceptualized a future Telecom One BI portal through the exploration of a hypothetical business story</p>
            </div>
            </header>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/intro.png" class="slideIn"/></a>
                </div>
            </div>
        </div>
    </div>
</div>