<div class="researchContainer-data slideIn">
    <header>
        <h1>Data Research</h1>
        <h2 class="subtitle">How will the nature of data change? How will data integrate fluidly with other sources?</h2>
    </header>
    <nav class="subnav">
        <ul>
            <li><a href="#research/data/research">Research</a></li>
            <li><a href="#research/data/gallery">Gallery</a></li>
        </ul>
    </nav>
    <div class="row-fluid">
        <section class="sub-page">
        </section>
    </div>
</div>
   