<div class="conclusion">
	<div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Thank You!</h1>
                <h2>Hitachi Consulting believes that our approach will position Canon for the greatest potential success in this strategic initiative.</h2>
				<h3 style="font-size: 1.5em;">Our Value Proposition</h3>
            </header>
			<ul>
				<li><span>Innovative approaches to visual design to drive customer engagement and loyalty</span></li>
				<li><span>Deep expertise in the relevant technologies </span></li>
				<li><span>Experience defining social media strategies and developing customer communities</span></li>
				<li><span>Methodology and toolkit to enable rapid project execution and faster time to market for UI solutions</span></li>			
				<li><span>Knowledge of Canon’s business priorities and technology environments to drive towards an innovative yet realistic solution</span></li>						
			</ul>
			<p>For more information, please contact:</p>
			<p>Brian Erickson<p>
			<p><a href="mailto:berickson@hitachiconsulting.com">berickson@hitachiconsulting.com</a></p>
			<p><a href="tel:+12146731213">214.673.1213</a></p>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/intro.png" class="slideIn"/></a>
                </div>
            </div>
        </div>
    </div>
</div>