<div class="scenario5 slideIn">
	<div class="row-fluid">
    	<div class="span6">
        	<header>
                <h1>Approach</h1>
                <h2 class="subtitle">Jane presents the live dashboard to George, sharing her findings so that he can make an informed decision.</h2>
            </header>
             <div class="sub-section">
                <section class="sub-page">
            	</section>
             </div>
        </div>
        <div class="span6">
        	 <div class="row-fluid">
                <div class="span10 offset1 image-holder" style="text-align: left;">
                    <a href="images/scenario_five.png" class="fresco" data-fresco-caption="Dashboard Presentation: Active, live information shared in responsive presentation mode"><img src="images/scenario_five_presentation.png" class="slideIn"/></a>
                </div>
        	</div>
        </div>
    </div>
</div>