
    	<ul>
       	  <li><span>Interaction evolves to allow for multiple ways to display and analyze data.</span></li>           
       	  <li><span>Users can integrate unstructured and cloud data with internal data sources.</span></li>            
       	  <li><span>Data is accessible, customizable, and shareable (with appropriate credentials) so that all elements are directly editable, regardless of placement of location.</span></li>
          <li><span>Millennial = social, collaborative and open.</span></li>       
        </ul> 
