
<div class="scenario1 slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Design Examples</h1>
                <h2 class="subtitle">Bringing the potential solution to life through visual examples and representations of our understanding of the vision for this solution.</h2>
            </header>
			<h3>Production Printing Community: Creative Comps</h3>
			<p>Although additional effort is required to define the actual design of the Production Printing Community Portal, Hitachi has created a set of initial potential designs that highlight our understanding of your goals and priorities.</p>  
			<p>Once we receive direction from the business and IT stakeholders, we will create a more targeted and unique experience based on your specific needs and expected user behaviors.</p>	
        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/examples-02.png" class="fresco" data-fresco-group="approach">
	                    	<img src="images/examples-01.png" class="phone" />
						</a>
                        <div id="details">
                     <a href="images/examples-02.png" class="fresco" data-fresco-group="approach"><img src="images/zoom.png">View more details</a>
                    </div>
						<a href="images/examples-03.png" class="fresco" data-fresco-group="approach" style="display: block;"></a>
						<a href="images/examples-04.png" class="fresco" data-fresco-group="approach" style="display: block;"></a>
						<a href="images/examples-05.png" class="fresco" data-fresco-group="approach" style="display: block;"></a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>