
<div class="scenario1 slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Examples</h1>
                <h2 class="subtitle">Examples Subtitle</h2>
            </header>
			<p>Here are some interesting details about our examples.</p>
        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/examples-02.png" class="fresco" data-fresco-caption="Example 1" data-fresco-group="approach">
	                    	<img src="images/examples-01.png" class="phone" />
						</a>
						<a href="images/examples-03.png" class="fresco" data-fresco-caption="Example 2" data-fresco-group="approach" style="display: block;"></a>
						<a href="images/examples-04.png" class="fresco" data-fresco-caption="Example 3" data-fresco-group="approach" style="display: block;"></a>
						<a href="images/examples-05.png" class="fresco" data-fresco-caption="Example 4" data-fresco-group="approach" style="display: block;"></a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>