<div class="proposal slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Proposed Project Timeline</h1>
                <h2 class="subtitle">Recognizing the desire for expediency, Hitachi is proposing an aggressive six week timeframe for this engagement.</h2>
            </header>
			<div class="row-fluid">
				<h3>Key Milestones within this timeline include:</h3><br>
				<ul>
					<li><span>Week 2: Requirements Analysis Complete</span></li>
					<li><span>Week 3: Personas Complete</span></li>
					<li><span>Week 4: Wireframes Complete</span></li>
					<li><span>Week 5: Visual Design Complete</span></li>
					<li><span>Week 5: Technical Design Complete</span></li>
					<li><span>Week 6: Execution Planning Complete</span></li>
				</ul>
            </div>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/proposal-01.png" class="slideIn" style="margin-top:70px"/></a>
                </div>
            </div>
        </div>
    </div>
</div>