<div class="proposal slideIn" id="slide2">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Proposed Project Roles and Costs</h1>
                <h2 class="subtitle">Hitachi Consulting expects the following roles and resource allocation for this engagement.</h2>
            </header>
			<p>Hitachi Consulting is proposing an experienced team of experts to support this strategic initiative.  The table to the right provides specific details of the roles, hours, rates, and total costs for this project team.</p>
			<p>This project will be executed on a time and materials basis and is estimated at a total cost of $141,000.</p>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/proposal-02.png" class="slideIn" style="margin-top:70px"/></a>
                </div>
            </div>
        </div>
    </div>
</div>