
<div class="scenario1 slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Proposal</h1>
                <h2 class="subtitle">Proposal Subtitle</h2>
            </header>
			<p>Here are some interesting details about our proposal.</p>
        </div>
        <div class="span6">
             <div class="row-fluid">
                <div class="span10 offset1 image-holder">
                   <img src="images/intro.png" class="slideIn"/></a>
                </div>
            </div>
        </div>
    </div>
</div>