<div class="proposal slideIn" id="slide3">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>Potential Resource Profiles</h1>
                <h2 class="subtitle">Hitachi is proposing the following potential resources for this project.</h2>
            </header>
			<div class="row-fluid">
				<p>Our potential project resources have been selected based on their highly relevant experience with the following critical knowledge areas required for this project’s success:</p>
				<ul>
					<li><span>An understanding of Canon’s business and technical landscape</span></li>
					<li><span>Deep experience in defining innovative customer experiences</span></li>
					<li><span>Experience in creating visual designs on the IBM stack</span></li>
					<li><span>Knowledge social media programs and initiatives</span></li>				
				</ul>
            </div>	
        </div>
        <div class="span6">
        	 <div class="row-fluid">
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/proposal-04.png" class="fresco" data-fresco-group="proposal">
	                    	<img src="images/proposal-03.png" class="phone" style="margin-top: 70px" />
						</a>
						<div id="details" style="margin-right:75px">
                     	<a href="images/proposal-04.png" class="fresco" data-fresco-group="proposal"><img src="images/zoom.png">View more details</a>
                    	</div>

						<a href="images/proposal-05.png" class="fresco" data-fresco-group="proposal" style="display: block;"></a>
						<a href="images/proposal-06.png" class="fresco" data-fresco-group="proposal" style="display: block;"></a>
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>