<div class="researchContainer-competitors slideIn">
    <header>
        <h1>Competitors</h1>
        <h2 class="subtitle">What are the competitors doing with online communities?</h2>
    </header>
    <nav class="subnav">
        <ul>
            <li><a href="#research/competitors/research">Research</a></li>
            <li><a href="#research/competitors/gallery">Gallery</a></li>
        </ul>
    </nav>
    <div class="row-fluid">
        <section class="sub-page">
        </section>
    </div>
</div>
   