<div class="researchContainer-users slideIn">
    <header>
        <h1>User Research</h1>
        <h2 class="subtitle">What do users expect from user experiences today?</h2>
    </header>
    <nav class="subnav">
        <ul>
             <li><a href="#research/users/research">Research</a></li>
             <li><a href="#research/users/gallery">Gallery</a></li>
        </ul>
    </nav>
    <div class="row-fluid">
        <section class="sub-page">
        </section>
    </div>
</div>