<div class="scenario4 slideIn">
	<div class="row-fluid">
    	<div class="span6">
        	<header>
                <h1>Design</h1>
                <h2 class="subtitle">Located in separate offices, Jane and Eli collaborate simultaneously on the dashboard. </h2>
            </header>
             <div class="sub-section">
                <section class="sub-page">
            	</section>
             </div>
        </div>
        <div class="span6">
        	 <div class="row-fluid">
                <div class="span10 offset1 image-holder" style="text-align: left;">
                    <a href="images/collaborative_session_scenario_four_filter.png" class="fresco" data-fresco-caption="Search for Collaboration Partners: Find and leverage enterprise expertise through sharing and social integration" data-fresco-group="scenario-four">
                <img src="images/scenario_four_map.png" /></a>
                <a href="images/collaborative_session_scenario_four.png" class="fresco" data-fresco-caption="Virtual Collaboration: Simultaneous share and live-sync work with teammates" data-fresco-group="scenario-four"></a>
                </div>
        	</div>
        </div>
    </div>
</div>