<ul>
 <li><span><strong>Bold Fonts and Typography</strong> - Bold, high contrast fonts on important data elements help guide the user&rsquo;s eye. Contrast between interaction areas helps pinpoint focus.</span></li>
 <li><span><strong>User-Modifiable Color Schemes</strong> - Color schemes are modifiable not just for user taste, but also to assist in usability in different lighting situations. Easily switching between &quot;dark&quot; and &quot;light&quot; helps the user see important data in any setting.</span></li>
 <li><span><strong>Persistent, Contextual Help Layer</strong> - Top-down help systems take the user outside of their work to find help topics. NextGen interfaces rely on contextual help layers which turn on or off, depending on familiarity with the system. Help is always specific to exactly where the user needs it.</span></li>
</ul>
