<div class="scenario3 slideIn">
	<div class="row-fluid">
    	<div class="span6">
        	<header>
                <h1>Methodology</h1>
                <h2 class="subtitle">Using her tablet and NFC recognition, Jane shares the dashboard with Alfredo during an elevator ride.</h2>
            </header>
             <div class="sub-section">
                <section class="sub-page">
            	</section>
             </div>
        </div>
        <div class="span6">
        	 <div class="row-fluid">
                <div class="span10 offset1 image-holder" style="text-align: left;">
                    <a href="images/scenario_three_b.png" class="fresco" data-fresco-caption="Sharing: Quick, secure, and selective sharing allows for information exchange " data-fresco-group="scenario-three">
                    <img src="images/scenario_three_tablet.png" class="tablet" />
                    <img src="images/scenario_three_iphone.png" class="iphone"/></a>
                    <a href="images/scenario_three_a.png" class="fresco" data-fresco-caption="Sharing: Quick, secure, and selective sharing allows for information exchange " data-fresco-group="scenario-three" style="display: block;"></a>
                </div>
        	</div>
        </div>
    </div>
</div>