
<div class="scenario1 slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>About Hitachi Consulting</h1>
                <h2 class="subtitle">Hitachi Consulting is committed to helping clients bring their business visions to life through industry-led services and solutions.</h2>
                <h3 style="margin-bottom:5px;">Who We Are</h3>
				<p>	As the global business and IT consulting company of Hitachi, Ltd., Hitachi Consulting is uniquely positioned with the agility and client-focused approach of a boutique firm combined with the stability and innovation that comes from the Hitachi heritage.</p>
				</p>Hitachi Consulting’s client base includes 35 percent of the Fortune 100 and 25 percent of the Global 100, along with many mid-market leaders.</p>
				<p>With offices in North America, Europe, the Middle East and Asia, the company employees more than 5,000 professionals in 13 countries with delivery centers in India and China to offer global delivery scale.</p>
            </header>
        </div>
        <div class="span6">
        	 <div class="row-fluid">
	
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/overview-01.png" class="fresco" data-fresco-caption="Hitachi, Ltd. is committed to driving social innovation through unique and transformational products and services throughout its 963 companies. " data-fresco-group="overview">
	                    	<img src="images/overview-01.png" class="phone" />
						</a>
						<a href="images/overview-02.png" class="fresco" data-fresco-caption="Hitachi Consulting is the global management and IT consulting arm of Hitachi, Ltd. " data-fresco-group="overview" style="display: block;"></a>
						<a href="images/overview-03.png" class="fresco" data-fresco-caption="Our solutions are tailored to your industry and designed to significantly impact your business performance. " data-fresco-group="overview" style="display: block;"></a>
						<a href="images/overview-04.png" class="fresco" data-fresco-caption="Our key industry segments enable us to focus on understanding the market demands and operational pressures of our clients’ business. " data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-05.png" class="fresco" data-fresco-caption="Our recent client projects have been executed in more than 100 countries on six continents. " data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-06.png" class="fresco" data-fresco-caption="Our globally distributed offices enable us to service our clients around the world. " data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-07.png" class="fresco" data-fresco-caption="Our commitment to our clients never changes and is focused on providing a better consulting experience with sustainable results. " data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-08.png" class="fresco" data-fresco-caption="Our strategy of client intimacy and partnership is evidenced in the words we hear from our projects sponsors and executives. " data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-09.png" class="fresco" data-fresco-caption="Our flagship clients represent long-term relationships based on repeated project successes and results. " data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-10.png" class="fresco" data-fresco-caption="Hitachi Consulting continues to be recognized by the industry for both our technology capability and our industry expertise. " data-fresco-group="overview" style="display: block;"></a>		                
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>