
<div class="scenario1 slideIn" id="slide1">
    <div class="row-fluid">
        <div class="span6">
            <header>
                <h1>About Hitachi Consulting</h1>
                <h2 class="subtitle">Hitachi Consulting is committed to helping clients bring their business visions to life through industry-led services and solutions.</h2>
                <h3>Who We Are</h3>
				<p>	As the global business and IT consulting company of Hitachi, Ltd., Hitachi Consulting is uniquely positioned with the agility and client-focused approach of a boutique firm combined with the stability and innovation that comes from the Hitachi heritage.</p>
				</p>Hitachi Consulting’s client base includes 35 percent of the Fortune 100 and 25 percent of the Global 100, along with many mid-market leaders.</p>
				<p>With offices in North America, Europe, the Middle East and Asia, the company employees more than 5,000 professionals in 13 countries with delivery centers in India and China to offer global delivery scale.</p>
            </header>
        </div>
        <div class="span6">
        	 <div class="row-fluid">
	
	                <div class="span10 offset1 image-holder" style="text-align: left;">
	                    <a href="images/overview-01.png" class="fresco" data-fresco-group="overview">
	                    	<img src="images/overview-00.png" class="phone" style="margin-top: 70px"/>
						</a>
						<div id="details">
						<a href="images/overview-01.png" class="fresco" data-fresco-group="overview"><img src="images/zoom.png">View more details</a>
						</div>
						<a href="images/overview-02.png" class="fresco" data-fresco-group="overview" style="display: block;"></a>
						<a href="images/overview-03.png" class="fresco" data-fresco-group="overview" style="display: block;"></a>
						<a href="images/overview-04.png" class="fresco" data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-05.png" class="fresco" data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-06.png" class="fresco" data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-07.png" class="fresco" data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-08.png" class="fresco" data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-09.png" class="fresco" data-fresco-group="overview" style="display: block;"></a>	
						<a href="images/overview-10.png" class="fresco" data-fresco-group="overview" style="display: block;"></a>		                
					</div>
	        	</div>
        	</div>
        </div>
    </div>
</div>