
<header role="banner" class="clearfix row-fluid">
    <div class="span4 logo">
        <a href="#" title="Home"><img src="images/logo.png" /></a>
    </div>
    <nav class="header-nav span8">
    	<ul class="pull-right">
        	<li><a href="#" class="intro">Introduction</a></li>
            <li><a href="#scenario1" class="users">Our Understanding</a></li>
            <li><a href="#scenario2" class="users">Point of View</a></li>
            <li><a href="#scenario3" class="users">Methodology</a></li>
            <li><a href="#scenario4" class="users">Design</a></li>
            <li><a href="#scenario5" class="users">Approach</a></li>
            <li><a href="#conclusion" class="conclusion">Conclusion</a></li>
            <!--<li class="download"><a href="#" class="icon sprite-hor download" data-toggle="tooltip" data-original-title="Download" data-placement="bottom" title="Download">Download</a></li>-->
        </ul>
    </nav>
</header>