
<header role="banner" class="clearfix row-fluid">
    <div class="span4 logo">
        <a href="#" title="Home"><img src="images/logo.png" /></a>
    </div>
    <nav class="header-nav span8">
    	<ul class="pull-right">
        	<li><a href="#" class="intro">Introduction</a></li>
			<li><a href="#overview" class="users">HCC Overview</a></li>
            <li><a href="#understanding-1" class="users">Understanding</a></li>
            <li><a href="#approach-1" class="users">Approach</a></li>
            <li><a href="#examples-1" class="users">Examples</a></li>
            <li><a href="#proposal-1" class="users">Proposal</a></li>
            <li><a href="#conclusion-1" class="conclusion">Conclusion</a></li>
            <!--<li class="download"><a href="#" class="icon sprite-hor download" data-toggle="tooltip" data-original-title="Download" data-placement="bottom" title="Download">Download</a></li>-->
        </ul>
    </nav>
</header>